body {
	font-family: Helvetica;
	background: #FFFFFF url('../img/header.jpg') no-repeat top center;
	
	width:100%;
	padding:0px;
	margin:0px;
}

div.content {
	margin: 250px auto 0px;
	display: block;
	padding:10px;
    font-size: 90%;
}

li {
	list-style: none;
	padding: 2px;
}

fieldset fieldset {
	border: none;
	padding: 0px;
}

fieldset.sectionFs {
	padding: 10px;
	margin: 0px auto;
	border: 0px solid #999999;
	border-top: 1px solid;
	
}

.prompt {
	color: #999999;
}

fieldset.sectionFs>legend {
	background: none;
	
	font-weight: bold;
	font-size: 120%;
}

fieldset>div {
	width: 45%;
	float: left;
	clear: none;
}

li.formItemTf {
	padding: 5px;
}

li.formItemTf>label {
	display: block;
}

li.formItemTf>input[type=text],
li.formItemTf>input[type=date],
li.formItemTf>input[type=email],
li.formItemTf>input[type=password]
	{
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	border: 1px solid #999999;
}

input[type=checkbox] {
	border: 1px solid #999999;
	background: #FFFFFF;
}

fieldset#docsToProvide li,#alerts li {
	list-style: circle;
}

fieldset#docsToProvide ul {
	-webkit-padding-start: 40px;
}

fieldset ul {
	-webkit-padding-start: 0px;
}

button {
	padding: 10px 30px 10px 30px;
	border: 1px solid #CCCCCC;
	background: #000000;
	color: #FFFFFF;
	float: right;
	font-weight: bold;
}

#formControl {
	height: 40px;
}
#formNotesTop>p:before,
#formNotes>p:before,
.required>label:after {
	content: "*";
	color: #FF0000;
}

.formItemTf>label.supLabel {
	display: inline;
}

label.supLabel:after {
	content: "";
}

#contact {
	border-top: 1px solid #999999;
}

#contact>p {
	text-align: center;
	color: #999999;
}

#formDescription {
	border-bottom: 1px solid #999999;
}

#formDescription>p {
	color: #999999;
}

.legend {
	font-weight: bold;
	font-size: 120%;
}

#alerts li {
	color: #FF0000;
}

#preloader {
	position:fixed;
	background:rgba(50,50,50,0.9);
	left:0px;
	top:0px;
    height:100%;
    width:100%;
    z-index: 9998;
}
#dialogBox {
	
	width: 50%;
	border:1px #FFFFFF solid;
	height:30%;
	background: #000000;
	margin:20% auto;
	
}

#dialogBox>img {
	margin: 10% auto 10px;
	width:48px;
	display: block;
}
#dialogBox>div{
	margin: 0px auto;
	color: #ffffff;
	width:auto;
	text-align: center;
}
