@media only screen and (orientation: landscape) {
	body {
		font-size: 1em;
		background-size: 100%;
	}
	div.content {
		margin: 220px auto 0px;
	}
}

@media only screen and (orientation: portrait) {
	body {
		font-size: 1em;
		background-size: 100%;
	}
	div.content {
		margin: 150px auto 0px;
	}
}


fieldset>div {
    width: 100%;
    float: none;
    clear: none;
}
